Node-Red-Flow/flows.json
[{"id":"64193273.fa080c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e859fd0.2d8dc","type":"inject","z":"64193273.fa080c","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":40,"wires":[["c6637136.88f7e"]]},{"id":"d49f4d8a.7de9d","type":"debug","z":"64193273.fa080c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":120,"wires":[]},{"id":"8c4544ad.33b258","type":"function","z":"64193273.fa080c","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["c6637136.88f7e","a4457861.4e7728"]]},{"id":"18792882.2da2a7","type":"ui_form","z":"64193273.fa080c","name":"","label":"","group":"ece61668.ea4bf8","order":1,"width":"0","height":"0","options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":300,"wires":[["8c4544ad.33b258"]]},{"id":"a4457861.4e7728","type":"ui_text","z":"64193273.fa080c","group":"ece61668.ea4bf8","order":2,"width":"0","height":"0","name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":270,"y":320,"wires":[]},{"id":"5b6747cf.5b2ae8","type":"ui_text","z":"64193273.fa080c","group":"f6287cfd.b810c","order":1,"width":"6","height":"4","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":380,"wires":[]},{"id":"623b5f2.fdc7fa","type":"function","z":"64193273.fa080c","name":"parsing","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["d49f4d8a.7de9d","5b6747cf.5b2ae8"]]},{"id":"c6637136.88f7e","type":"watson-assistant-v2","z":"64193273.fa080c","name":"My first assistant","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c5b9e6dc-df51-4c0c-b8e8-35dc3d543f21","assistant_id":"d0c48e24-66dc-4710-aa3f-18a4671e65cb","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":391.5,"y":100,"wires":[["623b5f2.fdc7fa","3076e7e1.3c0f78"]]},{"id":"3076e7e1.3c0f78","type":"debug","z":"64193273.fa080c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":20,"wires":[]},{"id":"ece61668.ea4bf8","type":"ui_group","z":"","name":"","tab":"1f339e0c.dcbfe2","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6287cfd.b810c","type":"ui_group","z":"","name":"","tab":"1f339e0c.dcbfe2","order":3,"disp":true,"width":"6","collapse":false},{"id":"1f339e0c.dcbfe2","type":"ui_tab","z":"","name":"Product","icon":"dashboard","order":2,"disabled":false,"hidden":false}]